:root {
    --clr-primary-base: hsl(243, 100%, 62%);
    --clr-primary-light: hsl(228, 100%, 84%);
    --clr-primary-lighter: hsl(206, 94%, 87%);
    --clr-primary-dark: hsl(213, 96%, 18%);
    --clr-primary-accent: hsl(354, 84%, 57%);

    --clr-neutral-500: hsl(231, 11%, 63%);
    --clr-neutral-400: hsl(229, 24%, 87%);
    --clr-neutral-300: hsl(217, 100%, 97%);
    --clr-neutral-200: hsl(231, 100%, 99%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;    
}

/* - Mobile: 375px
- Desktop: 1440px */

* {
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    background-color: var(--clr-neutral-300);
}

.container {
    min-width: 350px;
    max-width: 950px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
}

/* SIDEBAR */

aside {
}

.pg-num {
    color: var(--clr-neutral-100);
    border: 1px solid var(--clr-neutral-100);
    border-radius: 50%;
    font-weight: var(--fw-med);
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0.3em 0.6em;
}

.side-label {
    display: none;
}

/* MAIN SECTION */

main {
    height: auto;
    background-color: var(--clr-neutral-100);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -1px 18px 57px -37px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 18px 57px -37px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 18px 57px -37px rgba(0,0,0,0.45);
}

.nav-btns {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5vh;
    background-color: var(--clr-neutral-100);
    padding: 1.2em 0;
    display: flex;
}

.nav-btns > div {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-btns button:first-child {
    background: none;
    border: none;
    color: var(--clr-neutral-500);
    font-size: 1rem;
    font-weight: var(--fw-med);
}

.nav-btns button:last-child {
    background-color: var(--clr-primary-dark);
    border: none;
    border-radius: 5px;
    padding: 1em 1.2em;
    color: var(--clr-neutral-100);
}

/* FORMS STYLING */

.form-cont {
    display: none;
}

h2 {
    color: var(--clr-primary-dark);
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    margin-bottom: 0;
}

p {
    color: var(--clr-neutral-500);
    line-height: 1.4rem;
    margin-bottom: 1.4rem;
}

button {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

button:hover,
button:active {
    cursor: pointer;
}

.form-area {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid var(--clr-neutral-400);
    border-radius: 5px;
    padding: 1em 1.2em;
    margin-bottom: 0.8rem;
}

input[type="text"] {
    color: var(--clr-primary-dark);
    font-weight: var(--fw-bold);
}

input:focus {
    outline: none;
    border-color: var(--clr-primary-base);
}

input::placeholder {
    font-size: 1rem;
    font-weight: var(--fw-med);
    color: var(--clr-neutral-500);
}

label {
    color: var(--clr-primary-dark);
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

.selection {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border: 1px solid var(--clr-neutral-400);
    border-radius: 7px;
    margin-bottom: 1rem;
}

.selection label {
    display: flex;
    flex-direction: column;
}

.plan-name {
    color: var(--clr-primary-dark);
    font-weight: var(--fw-med);
    font-size: 1.1rem;
}

.plan-price {
    color: var(--clr-neutral-500);
    font-size: 1.02rem;
}

.switch-cont {
    width: 100%;
    background-color: var(--clr-neutral-200);
    border-radius: 7px;
    font-weight: var(--fw-med);
    padding: 0.8em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.4rem;
}

.switch-cont label {
    color: var(--clr-neutral-500);
    font-size: 1rem;
    font-weight: var(--fw-med);
}

.switch-cont label.selected {
    color: var(--clr-primary-dark);
}

input[type="radio"] {
    display: none;
}

main .active {
    display: block;
}

[data-page="3"] .selection {
    padding: 0.8em 1em;
    display: flex;
}

[data-page="3"] .plan-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

[data-page="3"] .plan-name {
    font-size: 0.95rem;
}

.addon-desc {
    display: block;
    color: var(--clr-neutral-500);
}

.addon-price {
    color: var(--clr-primary-base);
}

.added {
    border-color: var(--clr-primary-base);
    background-color: var(--clr-neutral-200);
}

.reg-summary,
.reg-main a {
    color: var(--clr-neutral-500);
}

.reg-summary-details {
    background-color: var(--clr-neutral-200);
    border-radius: 7px;
}

.reg-total {
    display: flex;
    justify-content: space-between;
}

.reg-summary-details,
.reg-total {
    margin-bottom: 1rem;
    padding: 1.2em 1em;
}

.reg-main-name {
    margin-bottom: 1rem;
}

.reg-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-neutral-400);
}

.reg-main-name:first-child,
.reg-main-price {
    font-weight: var(--fw-med);
    color: var(--clr-primary-dark);
}

.total-amt {
    font-weight: var(--fw-bold);
    color: var(--clr-primary-base);
}

.confirm-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3.2rem 0;
}

.confirm-cont p {
    font-size: 1.05rem;
    line-height: 1.8rem;
    margin-bottom: 0;
}

.confirm-cont img {
    width: 60px;
}

/* MOBILE */

@media screen and (max-width: 879px) {
    aside {
        height: 20vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        gap: 1.4rem;
        text-align: center;
        background: url("images/bg-sidebar-mobile.svg") center/cover no-repeat;
        padding-top: 2.2em;
    }

    main {
        margin: -5rem auto 0 auto;
        padding: 0.6em 2em;
        width: 70vw;
    }
    
    main:last-child {
        padding-bottom: 1.2em;
    }

    .nav-btns {
        width: 100%;
    }

    .selection {
        padding: 1.05em 1em;
    }

    .plan-name {
        margin-bottom: 0.3rem;
    }

}

/* DESKTOP */

@media screen and (min-width: 880px) {
    body {
        display: flex; 
        height: 100vh;
    }

    .container {
        background-color: var(--clr-neutral-100);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        width: 80vw;
        height: 60vh;
        margin: auto;
        box-shadow: -1px 18px 57px -37px rgba(0,0,0,0.45);
        -webkit-box-shadow: -1px 18px 57px -37px rgba(0,0,0,0.45);
        -moz-box-shadow: -1px 18px 57px -37px rgba(0,0,0,0.45);
    }


    aside {
        background: url(images/bg-sidebar-desktop.svg) center/cover no-repeat;
        border-radius: 8px;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 3em;
    }

    aside, main {
        margin: 1rem;
    }

    .side {;
        display: flex;
        align-items: center;
        margin: 0 2rem 2rem 2rem;
    }

    .side-label {
        display: block;
    }

    .pg-num {
        margin-right: 1rem;
    }

    .side-label span {
        color: var(--clr-primary-light);
        font-size: 0.8rem;
    }

    .side-label h4 {
        color: var(--clr-neutral-100);
        font-weight: var(--fw-bold);
        font-size: 0.9rem;
        margin: 0;
    }
    
    main {
        background: none;
        box-shadow: none;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-btns {
        position: static;
    }
    
    .form-cont,
    .nav-btns {
        padding: 2em;
    }

    [data-page="2"] .form-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    [data-page="2"] img {
        width: 35px;
        height: 35px;
    }

    [data-page="2"] .selection {
        width: 30%;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 0.6em;
    } 

    [data-page="2"] .selection:hover {
        cursor: pointer;
    }
    
    [data-page="2"] .plan-box span {
        font-size: 0.95rem;
    }

    .switch-cont {
        flex-basis: 100%;
    }

    [data-page="3"] .plan-name {
        margin-bottom: 1.4rem;
    }

    .addon-desc {
        font-size: 0.8rem;
    }
}